/* *{
    margin: 0;
    padding: 0;
} */

nav{
    font-size: 36px;
    text-align: center;
    margin: 25px;
}

a{
    text-decoration: none;
    color: cadetblue;
}
a:hover{
    color: aquamarine;
}
a:active{
    color: bisque;
}
/* a:visited{
    color: magenta;
} */

body{
    background-color: rgb(244, 244, 244,var(--tw-border-opacity));
    color: teal;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;

    line-height: 1.5em;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
}

.box-1{
    background-color: #333;
    color: #fff;
    border-radius: 20px;
    /*
    border-right: 5px gray solid;
    border-left: 5px gray solid;
    */
    border: 5px rgb(208, 36, 235, 0.5);
    border-width: 10px;
    border-top-style: solid;


    /* Same as above */
    padding: 20px;

    margin: 20px 0;
}

.box-1 h1{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;

}

.box-2{
    border: 3px dotted #ccc;


}

.categories{
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}

.categories h2{
    text-align: center;
}

.categories ul{
    padding-left: 20px;
    list-style: none;
}

.categories li{
    margin: 20px;
    padding-bottom: 6px;
    border-bottom: dotted;
    list-style-type: emoji-1;
}

@counter-style emoji-1 {
    system: cyclic;
    symbols: "\1F4A9";
    suffix: " ";
}

.cp_embed_wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}